
.main-container{
    display: flex;
}
.items-container{
    width: 60%;
}
.items-details{
    width: 40%;
}


.cart-item-details{
    margin: 2rem;
    display: flex;
    margin-left: auto;

}
.container{
    border: 0.5px solid black;
    margin: 4rem;
    position: relative;
    width: 80%;

}
.cart-image{
height: 100%;
width: 100%;
}

.x-button{
    border: none;
    font-size: 2.5rem;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
}
.prices-div{
    display: flex;
    margin-top: 0.5rem;
}
.cart-button{
    background-color: #F6C33C;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 100%;
    margin: 1rem;
  }



.free-delivery{
    text-decoration: line-through;
}


.deivery-date{
    font-size: 1.3rem;
}



.items-details{
    background-color: #F6C33C;
    
    box-shadow: 0px 5px  5px  5px rgb(167, 87, 87);
    color: white;
    height: 100%;
    margin: 3rem;
    
    border-radius: 10% 20%;
}

.items-details-div2{
    margin: 3rem;
    margin-bottom: 0.6rem;
}
.details-name{
    display: flex;
    color: black;
   
}
.checkout-button{
    background-color: black;
    color: white;
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding: 0.7rem;
    border-radius: 1rem;
    font-weight: bold;
}
.checkout-button:hover{
    background-color: #F6C33C;
    color: black;
    
}
.price-details{
    color: black;
    

}
.final-price{
    color: red;
    font-weight: bold;
}

.span-div{
    margin-left: auto;
}


.empty-cart-image{
    margin-top: 5rem;
}












@media screen and (max-width: 800px) { 


    .main-container{
        display: grid;
    }
    .items-container{
        width: 95%;
      
    }
    .items-details{
        width: 100%;
    }
    



    

.cart-item-details{
    margin: 0rem;
    display: flex;
    margin-left: unset;

}
.container{
    border: 0.5px solid black;
    margin: 0.5rem;
    margin-top: 3rem;
    position: relative;
    width: 100%;

}
.x-button{
    border: none;
    border-radius: 50%;
    font-size: 2.5rem;
    background-color:unset;
    position: absolute;
    top: 0%;
    right: 85%;
}
.cart-button{
    margin: 1rem;
    width: 90%;
}
.prices-div{
    display: flex;
    margin-top: 0.5rem;
}
.deivery-date{
    margin-left: 2rem;
    display: none;
}


.items-details{

   
    margin: 2rem;
    
    border-radius: 10% 20%;
    margin-top: 2rem;
    width: 85%;
    height: 90%;
}

.items-details-div2{
    margin: 2rem;
    margin-bottom: 0rem;
}
.details-name{
  
    font-size: 1em;
    font-weight: bold
   
}
.checkout-button{

    margin-top: 0.6rem;
    margin-bottom: 0rem;
 
}









}
