.bigger-div{

    display: flex;
}
.filter-div{
    width: 20%;
  
    margin-right: 1rem;
}
.store-div{
    width: 100%;
}
.category-div{
    display: grid;
    margin: 2rem;
}
.category-options{
    font-size: 1.3rem;
}
.idealFor-div{
    display: grid;
}
.idealFor-options{
    font-size: 1.3rem;
}
.color-options{
    font-size: 1.3rem;
}


.color-div{
    display: grid;
}

.discount-options{
    font-size: 1.3rem;
}


.clear-button{
    color: black;
    background-color: #F6C33C;
    font-weight: bolder;
}

.discount-div{
    display: grid;
}


.ratings-options{
    font-size: 1.3rem;
}


.ratings-div{
    display: grid;
}