@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Nunito+Sans:ital,wght@0,200;1,200&family=Oleo+Script+Swash+Caps:wght@700&display=swap');


*{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.products-div{
  /* margin-top: 5rem; */
    display: grid;
  grid-template-columns:auto auto auto;
  /* border: 1px solid black; */
  gap: 1rem

}
.image{
  color: aliceblue;
}

datalist {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 0px;
}

.slider-container {
  width: 100%;
 
  height: auto;
}

