

.big-container{
    display: grid;
    grid-template-columns: auto auto ;
    width: 100%;

   
}
.small-container{
    border: 2px solid black;
    margin-top: 2rem;
    margin: 2rem;
    position: relative;

}
.Price-container{
    display: inline;
}
.Price-content{
   
    margin: 1rem;
   
}
.wishlist-container{
    border: 1 px solid black;
    
display: flex;
margin: 2rem;
}



.button-divs{
    margin-left: 1.9rem;
    width: 100%;
}
.wishlist-page-button{
    background-color: #F6C33C;
    font-size: 1.1rem;
    font-weight: bolder;
    width: 100%;
  }

.x-buttons{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: white;
    color: black;
}


.empty-wishlist-button{
    background-color: #F6C33C;
    font-size: 1.1rem;
    font-weight: bolder;
}
.empty-wishlist-button:hover{
    background-color:whitesmoke;
    color: black;
 
}





@media screen and (max-width: 800px) {



    .big-container{
        display: grid;
        grid-template-columns: auto;
    
       
    }
    .small-container{
      
        margin: 0.5rem;
        margin-top: 2rem;

    
    }
 
    .x-buttons{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    


}