/* *************     login-page                  ***************** */


.login-page-main-container{
    display: flex;
}
.para{
    font-weight: bolder;
}

.images-div{
    width: 40%;
    position: relative;
    margin-right: 11%;
   
}
.black-image{
    border-radius: 20%;
    height: 75vh;
    width: 75%;
}
.main-image{
   
border-radius: 10%;
height: 65%;
width: 90%;
position: absolute;
top: 15%;
left: 20%;
}

.login-text-div{
    text-align: left;

}
.login-text{
    font-weight: bolder;
}
.content-div{
    text-align: left;
}

.upper-button-div{
    display: flex;
    text-align: left;
    margin-bottom: 2rem;
}



.gmail-button{
    background-color: rgb(46, 14, 3);
    font-weight: bolder;
    padding: 0.5rem;
    color: white;

}
.facebook-button{
    background-color: navy;
    font-weight: bolder;
    padding: 0.5rem;
    color: white;
    margin-left: 1rem;

}


.gmail-button:hover{
    color: black;

}
.facebook-button:hover{
    color: black;


}



.details-container{
    margin: auto;
    margin-top: 1rem;
    text-align: left;
}
.email-text{
  
    font-weight: bolder;
    
}
.password-text{
    font-weight: bolder;
    
   
}
.email-input{
    width: 100%;
   
    margin-bottom: 1rem;

}
.password-input{
    width: 100%;
   
    margin-bottom: 1rem;
}


.forgot{
    font-weight: bolder;
    margin-top: -1rem;
    text-align: right;
   

   
}

.login-button-div{
    margin-top: 1rem;
    display: flex;
    text-align: left;
}

.login-button{
    font-weight: bolder;
    color: white;
    background-color: rgb(46, 14, 3);
    width: 100%;
    
}
.login-button:hover{
    color: black;
    


}
.guest-button{
    font-weight: bolder;
    color: wheat;
    background-color: rgb(46, 14, 3);
 
    width: 100%;
    margin-left: 1rem;





}
.guest-button:hover{
    color: black;


}













.signup-text{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.ischecked-text{
 color: red;  
 font-weight: bolder;
}








/* *************     signup-page                  ***************** */
.para2{
    font-size: x-large;
    font-weight: bolder;
    
    margin: 2rem;
    margin-right: 49%;
    margin-bottom: -0.2rem;
}





@media screen and (max-width: 800px) {













}









