.left-banner{
    position: relative;
}
.left-banner-button{
    cursor: pointer;
    position: absolute;
    bottom: -2.4rem;;
    left: 100px;
    font-size: 1.7rem;
    background-color: #F6C33C;
    font-family: 'Oleo Script Swash Caps', cursive;
    border-radius: 50%;
    padding: 0.54rem;
    transition: ease-out 0.5s;
    /* box-shadow: inset 0 0 10px #F6C33C,0 0 10px #F6C33C,0 0 40px #F6C33C,0 0 80px #F6C33C */

}
.left-banner-button:hover{
    color: white;
  box-shadow: inset 300px 0 0 0 rgb(235, 7, 7);
}
.left-banner-button:active{
    box-shadow: inset 0 -1px 0 0 rgba(0, 0,0 ,0.2);
    text-shadow: 0px 1px rgba(0, 0,0 ,0.2);

}
.banner-div{
  margin: 0.6rem;
  /* border-color: 5px solid black; */
    
}





.sliders-container{
    display: flex;
 
    box-shadow: 10px 1px 10px 2px;
}
.men-women-container{
    display:grid;
    grid-template-areas:
     "explore men "
    "explore women";
   
    
}

.men-banner-div{
    grid-area: men;
    border-radius: 50%;
    position: relative;
    top: 0;
    bottom: 0;
}



.men-shop-now-button{

       cursor: pointer;
       border: 4px solid black;
       width: 28%;
       font-size: 1rem;
       padding: 1.2rem;
       background-color: red;
       color: white;
      position: absolute;
      bottom: 6.8em;

      right: 11%;
     


  

}



.women-banner-div{
    grid-area: women;


    position: relative;
    top: 0;
    bottom: 0;
}



.women-shop-now-button{

       cursor: pointer;
       border: 4px solid black;

  
       padding: 0.3rem;
       background-color: red;
       color: white;
      position: absolute;
      bottom: 7.5em;

      right: 6em;
 

  

}







.explore-banner-div{
    grid-area: explore;
 
    position: relative;
    top: 0;
    bottom: 0;
}


.explore-button{

       cursor: pointer;
       border: 4px solid black;

  
       padding: 1rem;
       background-color: red;
       color: white;
      position: absolute;
     bottom: 8em;
     right: 40%;
 

  

}

.col60{
    font-size: 4rem;
    color: #F6C33C;
}

.category-div{
    font-family: sans-serif;
}


.policy-div{
    height: 250px;
    border: 2px solid black;
    display: flex;
    
}
.policies{
margin: 2rem;
display: flex;

}

.lines{
    border: 1px solid black;
    height: 200px;
    margin-top: 50px;
}
.icons{
    font-size: 5rem;
}