.checkout-page-container{
    width: 100%;
    height: 100%;
    
    
}
.checkout-page-small-div{
    background-color: white;
    border: 0.5px solid black;
   
    box-shadow: 0px 5px 5px 5px rgb(201, 179, 179);
    width: 42%;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;

    
}
.order-detail-items-div2{
    display: flex;
}
.order-detail-item-qty{
    margin-left: auto;
    margin-right: 2rem;
}


.order-detail{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}
.order-detail-name-div{
    display: flex;
    margin-bottom: 2rem;
   
}
.order-detail-name{
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
}
.order-detail-quantity{
    font-size: large;
    margin-left: auto;
    font-weight: bolder;
    text-decoration: underline;



}

.order-detail-item-name{
    list-style: none;
}
.order-detail-item-qty{
    list-style: none;

}
.checkout-page-price-div{
    font-weight: bolder;
}
.checkout-page-price-detail{
    text-align: center;
    margin-top: 1rem;
    font-size: larger;

    margin-bottom: 1rem;
    font-weight: bolder;

}
.checkout-prices{
    display: flex;
    font-weight: 600;
    font-size: large;

}

.checkout-span-discount{
    text-decoration: line-through;
}
.checkout-page-final-price{
    color: red;
    font-size: larger;
}
.checkout-page-span-text{
    margin-left: auto;

}

.adresses-content{
    font-weight: bolder;
    font-size: large;
}


.checkout-page-deliver-address{
    text-align: center;
    margin-top: 1rem;
    font-size: larger;
    font-weight: 700;
}
.checkout-page-pay-button-div{
    text-align: center;
    margin-bottom: 1rem;
    font-size: larger;
}


.checkout-page-pay-button{
    background-color: rgb(59, 28, 28);
    color: white;
    font-weight: bold;
    font-style: italic;
    
   
    
}
.checkout-page-pay-button:hover{
   background-color: #F6C33C;
    color: black;
    font-size: 1.3rem;
    transition: all ease-in-out 0.3s;
   
    
   
    
}.address-modal-div{
    width: 27%;
    margin: auto;
  
    background-color: white;
  
    position: absolute;
    top: 60%;
    left: 37%;

    z-index: 1;
}
.address-name{
   font-size: 1.4rem;
}
.edit-icon-div{
    display: flex;
    margin-bottom: -0.7rem;
    
}
.edit-icon-button{
  
   margin-left: 10%;
   font-size: 1.7rem;
 color: black;
 cursor: pointer;

}















@media screen and (max-width: 800px) { 

    .checkout-page-small-div{
      
        width: 95%;
        padding-left: 1rem;
        padding-right: 0.2rem;

    
        
    }
    .address-modal-div{
        width: 80%;
     
        position: absolute;
        top: 30%;
        left: 10%;
    
        z-index: 1;
    }




}