.single-product-div{
    display: flex;

}
.single-product-detail{
    width: 60%;
    text-align: left;
    margin-top: 2rem;
   

}

.single-product-image-div{
    height: 100%;
    width: 40%;
}
.single-product-image{
    height: 500px;
    width: 80%;
    margin-top: 2rem;
     /* margin-right:10%; */
}
.col-36{
    display: flex;
}
.buttons-div{
    display: flex;
 
}
.single-product-button{
    height: 8vh;
    background-color: green;
    color:white;
    border: 2px solid black;
    width: 100%;
    font-weight: bolder;

}
.single-product-button:hover{
    height: 9vh;
    background-color: #F6C33C;;
    color: black;
    transition: all 0.4s;


}
.buttons-div2{
    width: 30%;
    margin: 1rem;
}
.pricing-div{
    display: flex;
    
}
.priceMain{
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: bolder;


}
.orignal-price{
    margin-right: 1rem;
    text-decoration: line-through;
    font-size: 1.2em;
    margin-top: 0.5rem;
}
.discounts{
    margin-right: 1rem;
    font-size: 1.2em;
    margin-top: 0.5rem;
    color: green;
    font-weight: bolder;
}
.single-product-rating-div{
 display: flex;
}
.single-product-rating{
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    background-color: green;
    width: 7%;
    padding: 0.5rem ;
    border-radius: 2rem;
    font-weight: bolder ;

}
/* .single-product-wishlist-div{
    margin-left: 1rem;
} */
.reviews{
    margin: 0.5rem;
    font-weight: bolder ;
}
.name{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0rem;
}
.description1{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 0rem;
    


}

.offers-div{
    margin-top: 1.5rem;

}
.offers-div2{
    display: flex;
}
.green-sale-emoji{
    height: 3px;
    
}
.offers-div-para{
    font-weight: bolder;
    margin-left: 3rem;
}
.know-more{
    color: blue;
    font-weight: bolder;
}








@media screen and (max-width: 800px) {
    .single-product-div{
        display: unset;
        position: relative;
    
    }
    .single-product-image-div{
        height: 100%;
        width: 100%;
    }
    .single-product-image{
        height: 500px;
        width: 80%;
        margin-top: 2rem;
    }

    .single-product-rating{
       
        width: 16%;
       
    
    }
.buttons-div{
    position: fixed;
    bottom: 0%;
    background-color: black;
    width: 100%;
  
 

}



.single-product-button{
    height: 6vh;
    background-color: green;;
    color: white;
    margin: unset;
    transition: all 1s;



}
.single-product-button:hover{
    height: 6vh;
    background-color: #F6C33C;;
    color: black;
    margin: unset;
    padding-top: 1rem;
    transition: all 1.8s;



}
.single-product-detail{
    width: 100%;
    text-align: left;
    margin-top: 2rem;

}
.name{
    font-size: 2rem;
}
.description1{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 0rem;
    

}
.buttons-div2{
    width: 100%;
    margin: unset;
}


}