@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');


.App {
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  cursor: pointer;
}
input{
  cursor: pointer;
}